html {
  font-size: 16px;
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 8px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #3270ed;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

button:hover {
  background: #6798fa;
  cursor: pointer;
}

/* Home */

#main_home {
  background: #dddddd;
}

#main_home>header {
  display: flex;
  align-items: center;
  height: 4rem;
  background: rgb(18, 0, 32);
  justify-content: space-between;
}

#main_home h1 {
  margin: 0;
  font-size: 2rem;
  color: white;
}

#main_home>header>#fullscreen>label {
  padding: 1.5rem;
  color: cadetblue;
}

#main_home>header>#fullscreen>input {
  display: none;
}

#main_home>header>#fullscreen>input:checked+label {
  color: white;
}

#game_list {
  position: absolute;
  top: 4rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

#game_list>div {
  position: relative;
  background: white;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
    grid-column: span 3;
  height: fit-content;
}
@media (max-width: 1200px) {
  #game_list>div {
    grid-column: span 4;
  }
}
@media (max-width: 800px) {
  #game_list>div {
    grid-column: span 6;
  }
}
@media (max-width: 400px) {
  #game_list>div {
    grid-column: span 12;
  }
}


#game_list>div>header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0ff;
  text-align: center;
  font-size: 1.5rem;
}
#game_list>div>header>div.gamename {
  background: #0ff;
  text-align: center;
  font-size: 1.5rem;
}
#game_list>div>header>div.delbutton{
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

#game_list>div>p {
  margin: 0.5rem;
}

#game_list>div>div.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

#add_new_game {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  background: purple;
  color: white;
  user-select: none;
}

/* Editor */

#editor_canvas_wrap{
  position: absolute;
  right: 0;
  width: 700px;
  height: 100%;
}
#editor_menu {
  position: absolute;
  left: 0;
  right: 700px;
  height: 100%;
  background: #dddddd;
}
#edit_menu_toggle{
  position: absolute;
  display: none;
  z-index: 1000;
}

@media (max-width: 1000px) {
  #editor_canvas_wrap {
    width: 100%;
    right: 0;
  }
  #edit_menu_toggle{
    background: #ddd;
    display: block;
  }
  #edit_menu_toggle > rect:first-child{
    transform: translateY(-30%);
  }
  #edit_menu_toggle > rect:last-child{
    transform: translateY(+30%);
  }
  #edit_menu_toggle.active > rect:first-child{
    transform: rotateZ(45deg)
  }
  #edit_menu_toggle.active > rect:nth-child(2){
    transform: scaleX(0)
  }
  #edit_menu_toggle.active > rect:last-child{
    transform: rotateZ(-45deg)
  }
  #editor_menu {
    padding-top: 72px;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition-duration: 500ms;
  }
  #edit_menu_toggle.active + #editor_menu {
    transform: translateX(0);
  }
}

#editor_canvas {
  position: absolute;
}

#editor_text_io{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-flow: column;
  justify-content: center;
}

/* Game */

#main_game {
  background: rgb(18, 0, 32);
}

#canvas {
  position: absolute;
}

#judge_display {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

#gametouch_dummyelement {
  position: absolute;
}